.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 0.5em;
  border: 2px solid grey;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
